.accordion-button {
    background-color: #313947 !important;
    color:white;
    padding: 6px;
  }
  
  .accordion-button:focus {
    box-shadow: none;
    border:none;
    outline: 0!important
    
  }
  
  .accordion-button:not(.collapsed) {
    color:white;
  }
  .accordion-button-icon{
    color:white;
  }
  .Active{
    background-color:#00d4ff ;
    color:white ;
  }
  .sidebar::-webkit-scrollbar{
    display: none;
}
.accordion-item, .accordion-item:focus, .accordion-item:active,
.accordion-header, .accordion-header:focus, .accordion-header:active,
.accordion-button, .accordion-button:focus, .accordion-button:active {
  outline: none;
}